<%= form_for [refinery, :leaders_admin, @power] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @power,
              :include_object_name => true %>

  <div class='field'>
    <%= f.label :name -%>
    <%= f.text_field :name -%>
  </div>
  <div class='field'>
    <%= f.label :short_name -%>
    <%= f.text_field :short_name -%>
  </div>
  <div class='field'>
    <%= f.label :color -%>
    <%= f.text_field :color -%>
  </div>
  <div class='field'>
    <label><i class="icon-retweet"></i> Page d'organigramme</label>
    <%= f.text_field :page_organigramme -%>
  </div>

  <div class='field'>
    <label><i class="icon-globe"></i> Carte</label>
    <%= select_tag 'power[map_id]', options_from_collection_for_select(Refinery::Leaders::Map.all, 'id', 'name', @power.map_id), :include_blank => true %>
  </div>

  <div class='field'>
    <%= f.label :description -%>
    <%= f.text_area :description, :rows => 10, :class => 'wymeditor widest' -%>
  </div>

  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.leaders.admin.leaders.power'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @power.name) %>
<% end -%>
