<li style="margin-bottom:0px;line-height: 12px;" id="sortable_<%= power.id %>" class='clearfix record <%= cycle("on", "on-hover") %>'>
  <div rel="tooltip" title="<%=power.name %>" style="vertical-align:middle;margin-left:-5px;width:35px;line-height:20px;margin-right:10px;height:35px;display:inline-block;background:<%=power.color %>"></div>
  <span class='title'>
    <strong><%= power.name %></strong>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag('delete.png'),
              refinery.leaders_admin_power_path(power),
              :class => "cancel confirm-delete",
              :title => t('delete', :scope => 'refinery.admin.users'),
              :method => :delete,
              :data => {
                :confirm => t('message', :scope => 'refinery.admin.delete', :title => power.name)
              } %>
    <%= link_to refinery_icon_tag('application_edit.png'),
                refinery.edit_leaders_admin_power_path(power),
                :title => t('edit', :scope => 'refinery.admin.users') if current_refinery_user.can_edit?(power) %>
  </span>
</li>
