.row
  .span12
    = render 'refinery/leaders/shared/menu'
    .directory-content
      .row
        .span3
          - groups = Refinery::Leaders::Group.where(:power_id => @group.power.id)
          = render :partial => 'refinery/leaders/shared/power_menu', :locals => {:power => @group.power, :groups => groups }
        .span9
          %div{:style=>'margin-left:auto;margin-right:auto;max-width:500px;text-align:center;'}
            %div{:style=>'font-weight:bold;text-transform:uppercase;margin-bottom:10px;'}
              = @group.name
            %div{:style=>'color:#888;font-weight:bold;text-transform:uppercase;margin-bottom:10px;'}
              = raw @group.name_english
            %div{:style=>'color:#888;font-weight:bold;text-transform:uppercase;margin-bottom:10px;'}
              = raw @group.name_chinese

          = raw @group.description

          .group{:style=>'margin-top:20px;'}
            - @group.individuals.each do |individual|
              = render :partial => 'refinery/leaders/individuals/individual', :locals => { :individual => individual, :group => @group }
