%div
  = raw @group.name

%div
  - @group.individuals.each do |individual|
    = link_to refinery.edit_leaders_admin_individual_path(individual) do
      %div{:style=>'float:left;width:120px;text-align:center;'}
        = image_fu individual.image, Refinery::Images.user_image_sizes["small".to_sym]
        %div{:style=>''}
          = individual.name
          %br
          = individual.name_chinese
