<%= form_for [refinery, :leaders_admin, @map_link] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @map_link,
              :include_object_name => true %>

  <div class='field'>
    <label>Nom</label>
    <%= f.text_field :name -%>
  </div>

  <div class='field'>
    <label><i class="icon-th"></i> Groupe</label>
    <%= select_tag 'map_link[group_id]', options_from_collection_for_select(Refinery::Leaders::Group.all, 'id', 'name_with_power_name', @map_link.group_id), :include_blank => true, :class => 'chzn-select' %>
  </div>

  <%= f.hidden_field :top -%>
  <%= f.hidden_field :left -%>
  <%= f.hidden_field :width -%>
  <%= f.hidden_field :height -%>

  <div class='field'>
    <label><i class="icon-globe"></i> Carte</label>
    <%= select_tag 'map_link[map_id]', options_from_collection_for_select(Refinery::Leaders::Map.all, 'id', 'name', @map_link.map_id), :include_blank => true, :class => 'chzn-select' %>
  </div>
  <div id="map">
    <% if @map_link.map %>
      <%= image_fu @map_link.map.image %>
    <% end %>
    <div id="click-map" style="overflow: auto;width:100%;height:100%;top:0;position:absolute;">
    </div>
  </div>

<%= javascript_tag do %>
  window.maps = <%= raw Refinery::Leaders::Map.all.to_json %>;
  window.admin_map_links = [<%=raw @map_link.to_json %>];
<% end %>
<%= content_for :stylesheets, stylesheet_link_tag('refinery/leaders/leaders') %>
<%= content_for :javascripts, javascript_include_tag('refinery/leaders/leaders') %>
<%= content_for :stylesheets, stylesheet_link_tag('refinery/leaders/backend') %>

  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.leaders.admin.leaders.map_link'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @map_link.name) %>
<% end -%>
