<li style="margin-bottom:0px;line-height: 12px;" id="sortable_<%= map_link.id %>" class='clearfix record <%= cycle("on", "on-hover") %>'>
  <% if map_link.group && map_link.group.power %>
    <div rel="tooltip" title="<%=map_link.group.power.name %>" style="vertical-align:middle;margin-left:-5px;width:35px;line-height:20px;margin-right:10px;height:35px;display:inline-block;background:<%=map_link.group.power.color %>"></div>
  <% else %>
    <div style="vertical-align:middle;width:35px;line-height:20px;height:35px;display:inline-block;background:white;"></div>
  <% end %>
  <span class='title'>
    <strong><%= map_link.name %></strong>,
    <%= map_link.map.name %>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag('delete.png'),
              refinery.leaders_admin_map_link_path(map_link),
              :class => "cancel confirm-delete",
              :title => t('delete', :scope => 'refinery.admin.users'),
              :method => :delete,
              :data => {
                :confirm => t('message', :scope => 'refinery.admin.delete', :title => map_link.name)
              } %>
    <%= link_to refinery_icon_tag('application_edit.png'),
                refinery.edit_leaders_admin_map_link_path(map_link),
                :title => t('edit', :scope => 'refinery.admin.users') if current_refinery_user.can_edit?(map_link) %>
  </span>
</li>
