- page = Refinery::Page.find_by_slug(@power.page_organigramme)
.row
  .span12
    = render 'refinery/leaders/shared/menu'
    .directory-content
      .row
        .span3
          %div{:style=>'padding-left:20px;'}
            %div{:style=>'text-transform:uppercase;font-weight:bold;'}
              %div{:style=>'box-shadow:0px 1px 1px #FFF;display:inline-block;width:10px;border-radius:10px;height:10px;background:'+@power.color}
              = @power.name


            %div{:style=>'margin-left:15px;margin-top:10px;'}
              %i.icon-download-alt
              = link_to 'Organigrammes', refinery.leaders_path(@power)

            - @groups.each do |group|
              %div{:style=>'margin-left:15px;margin-top:10px;'}
                %i.icon-th
                = link_to group.name, refinery.leaders_group_path(group)
        .span9
          = raw(page.content_for(:body).gsub("[[", "<").gsub("]]", ">"))
