<%= form_for [refinery, :leaders_admin, @map] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @map,
              :include_object_name => true %>

  <div class='field'>
    <%= f.label :name -%>
    <%= f.text_field :name -%>
  </div>

  <div class='field'>
    <%= render :partial => '/refinery/admin/image_picker', :locals =>
    {
     :f => f,
     :field => :image_id,
     :image => f.object.image,
     :toggle_image_display => false
     } %>
  </div>

  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.leaders.admin.leaders.map'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @map.name) %>
<% end -%>
