%ul.collapsible_menu
  %li.not_a_link
    = link_to 'Pouvoirs', '#'
  %li
    = link_to 'Liste', refinery.leaders_admin_powers_path, :class => 'comment_icon'
  %li
    = link_to t('.create_new'), refinery.new_leaders_admin_power_path, :class => "add_icon", :id => "add_power"

%ul.collapsible_menu
  %li.not_a_link
    = link_to 'Groupes', '#'
  %li
    = link_to 'Liste', refinery.leaders_admin_groups_path, :class => 'folder_edit_icon', :id => "edit_group"
  %li
    = link_to t('.create_new'), refinery.new_leaders_admin_group_path, :class => "folder_add_icon", :id => "add_group"

%ul.collapsible_menu
  %li.not_a_link
    = link_to 'Dirigeants', '#'
  %li
    = link_to 'Liste', refinery.leaders_admin_individuals_path, :class => 'comment_icon'
  %li
    = link_to t('.create_new'), refinery.new_leaders_admin_individual_path, :class => "add_icon", :id => "add_individual"

%ul.collapsible_menu
  %li.not_a_link
    = link_to 'Carte', '#'
  %li
    = link_to 'Liste', refinery.leaders_admin_map_links_path, :class => 'comment_icon'
  %li
    = link_to t('.create_new'), refinery.new_leaders_admin_map_link_path, :class => "add_icon", :id => "add_map_link"
