= render :partial => '/refinery/leaders/admin/actions'
%section#records
  %div.admin{:style=>'margin-bottom:20px'}
    %div{:style=>'margin-bottom:10px:'}
      = link_to 'Dirigeants', '/refinery/individuals', :class => 'big-title'
    %div
      - @individuals.each do |individual|
        = link_to refinery.edit_leaders_admin_individual_path(individual) do
          %div{:style=>'display:inline-block;width:120px;text-align:center;margin-bottom:10px;'}
            = image_fu individual.image, Refinery::Images.user_image_sizes["small".to_sym]
            %div{:style=>'font-size:12px;'}
              = individual.name
            %div{:style=>'font-size:12px;color:#888;'}
              = individual.name_chinese
  .clearfix
  = link_to 'Groupes', '/refinery/groups', :class => 'big-title'
  %ul#sortable_list
    = render :partial => '/refinery/leaders/admin/groups/group', :collection => @groups
  .clearfix
  = link_to 'Pouvoirs', '/refinery/powers', :class => 'big-title'
  %ul#sortable_list
    = render :partial => '/refinery/leaders/admin/powers/power', :collection => @powers