<%= form_for [refinery, :leaders_admin, @group] do |f| -%>
  <%= render '/refinery/admin/error_messages',
              :object => @group,
              :include_object_name => true %>


  <div class='field'>
    <%= f.label :name -%>
    <%= f.text_field :name -%>
  </div>
  <div class='field'>
    <%= f.label :name_english -%>
    <%= f.text_field :name_english  -%>
  </div>
  <div class='field'>
    <%= f.label :name_chinese -%>
    <%= f.text_field :name_chinese  -%>
  </div>
  <div class='field'>
    <label><i class="icon-eye-open"></i> Pouvoir</label>
    <%= select_tag 'power_id', options_from_collection_for_select(Refinery::Leaders::Power.all, 'id', 'name', @group.power_id), :include_blank => true %>
  </div>
  <div class='field'>
    <label><i class="icon-th"></i> Groupe</label>
    <%= select_tag 'group_id', options_from_collection_for_select(Refinery::Leaders::Group.all, 'id', 'name_with_power_name', @group.group_id), :include_blank => true %>
  </div>

  <div class='field'>
    <%= f.label :description -%>
    <%= f.text_area :description, :rows => 10, :class => 'wymeditor widest'-%>
  </div>

  <%= f.hidden_field :individuals, :value => @group.individual_ids.join(",") %>
  <%= render "individuals" %>

  <%= render '/refinery/admin/form_actions', :f => f,
             :continue_editing => false,
             :delete_title => t('delete', :scope => 'refinery.leaders.admin.leaders.group'),
             :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @group.name) %>
<% end -%>
