<li style="margin-bottom:0px;line-height: 12px;" class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(group) -%>">
  <div rel="tooltip" title="<%=group.power.name %>" style="vertical-align:middle;margin-left:-5px;width:35px;line-height:20px;margin-right:10px;height:35px;display:inline-block;background:<%=group.power.color %>"></div>
  <span class='title'>
    <%= truncate(group.name, :length => 65, :omission => '...') %>
  </span>
  <span class="preview">
      | <%= group.individuals.count %> membres
    </span>
  <span class='actions'>

    <%= link_to refinery_icon_tag("delete.png"), refinery.leaders_admin_group_path(group),
        :class => "cancel confirm-delete delete_group",
        :title => t('.delete'),
        :data => {:confirm => t('message', :scope => 'refinery.admin.delete', :title => group.name)},
        :method => :delete unless(group.name == "guest" || !current_refinery_user.has_role?("Refinery"))%>
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_leaders_admin_group_path(group),
         :title => t('.edit') if current_refinery_user.has_role?("Refinery") %>
    <%= link_to refinery_icon_tag("application_go.png"), refinery.edit_roles_leaders_admin_group_path(group),
      :title => 'Roles', :class => "show_group" %>
  </span>
</li>
