.big-title
  %i.icon-user
  Edition des rôles :
  = @group.name


= form_for [refinery, :update_roles_leaders_admin, @group], :method => 'post' do |f|
  #edit_role_individuals
    - @group.group_individuals.each do |gi|
      - individual = gi.individual
      .admin-individual-photo{:style=>'width:92px;', :id=>'gi_'+gi.individual_id.to_s}
        = image_fu individual.image, Refinery::Images.user_image_sizes["small".to_sym]
        = text_field_tag gi.individual_id.to_s+"_role", gi.role
        %div{:style=>'text-align:center;margin-top:0px;'}
          - individual.groups.each do |group|
            %div{:tooltip=>group.power.short_name+' - '+group.name, :style=>'display:inline-block;width:10px;height:10px;background:'+group.power.color}
        %div{:style=>'font-size:12px;'}
          = individual.name
        %div{:style=>'font-size:12px;color:#888;'}
          = individual.name_chinese
        %input{:type=>'hidden', :name=>gi.individual_id.to_s+'_position', :id=>gi.individual_id.to_s+'_position', :value => gi.position}
        .handle{:style=>'cursor:move;'}
          [Ordre]

  = render '/refinery/admin/form_actions', :f => f, :continue_editing => false,:delete_title => t('delete', :scope => 'refinery.leaders.admin.leaders.group'),:delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @group.name)

= content_for :stylesheets, stylesheet_link_tag('refinery/leaders/backend')
= content_for :javascripts, javascript_include_tag('refinery/leaders/leaders')
